[buildout]
extends =
#     profiles/production.cfg
#     profiles/development.cfg

#[config_file]
#sqlalchemy_url = postgresql://user:psw@localhost/enkiblog_dev
#raven_dsn =


# for production config
# [backup]
# to =
# password =
