{% extends "enkiblog/base.html" %}

{% block article %}

    <article>
        <h1 id="post-title">{{post.title}}</h1>
        <div class="post-meta-info">
            <p id="post-description">
                <strong>{{post.description}}</strong>
            </p>
            <p>{{post.published_at}} by {{post.author}}</p>
            <ul class="list-inline">
                <li>
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </h4>
                </li>
                {% for tag in tags %}
                <li>
                    <!-- <a href="#" class="list"> -->
                        <h4 class="list-group-item-heading">{{ tag }}{{ "," if not loop.last }}</h4>
                    <!-- </a> -->
                </li>
                {% endfor %}
            </uk>
        </div>
        <div id="post-body">
            {{post.body|safe}}
        </div>
    </article>

    <a id="post-prev"
       class="btn btn-default {{ 'disabled' if not prev_link }}"
       href="{{prev_link}}"
       role="button">
       Prev Post
    </a>

    <a id="post-next"
       class="btn btn-default {{ 'disabled' if not next_link }}"
       href="{{next_link}}"
       role="button">
       Next Post
    </a>

    <!-- TODO: moveout disqus_thread -->
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://enkidulan.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}

{% block sidebar %}

<div class="similar">
{{ panel('similar_items_widget', context=post) }}
</div>

<div class="recent">
{{ panel('recent_items_widget', context=post) }}
</div>

{% endblock %}


{% block extra_body_end %}{{ super() }}
  <script type="text/javascript">
    (function($){
        hljs.initHighlightingOnLoad();
    })(jQuery);
  </script>
{% endblock extra_body_end %}
