{% extends "enkiblog/base.html" %}

{% block article %}

    <article>
        <h1 id="post-title">{{post.title}}</h1>
        <div class="post-meta-info">
            <p id="post-description">
                <strong>{{post.description}}</strong>
            </p>
            <p>{{post.published_at}} by {{post.author.full_name}}</p>
            <ul class="list-inline">
                <li>
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </h4>
                </li>
                {% for tag in tags %}
                <li>
                    <a href="#" class="list">
                        <h4 class="list-group-item-heading">{{ tag }}{{ "," if not loop.last }}</h4>
                    </a>
                </li>
                {% endfor %}
            </uk>
        </div>
        <div id="post-body">
            {{post.body}}
        </div>
    </article>

    <a id="post-prev"
       class="btn btn-default {{ 'disabled' if not prev_link }}"
       href="{{prev_link}}"
       role="button">
       Prev Post
    </a>

    <a id="post-next"
       class="btn btn-default {{ 'disabled' if not next_link }}"
       href="{{next_link}}"
       role="button">
       Next Post
    </a>


{% endblock %}

{% block sidebar %}

    <div class="recent">
        <h3>About</h3>
        <ul>
            <li><a href="#">text of the printing and typesetting industry</a></li>
            <li><a href="#"> Lorem Ipsum has been the industry's standard</a></li>
            <li><a href="#"> dummy text ever since the 1500s, when an</a></li>
            <li><a href="#"> unknown printer took a galley of type and scramb</a></li>
            <li><a href="#">led it to make a type specimen book. It has survived </a></li>
            <li><a href="#">not only five centuries, but also the leap into </a></li>
            <li><a href="#">electronic typesetting, remaining essentially </a></li>
            <li><a href="#">unchanged. It was popularised in the 1960s with </a></li>
            <li><a href="#">thease of Letraset sheets containing Lorem Ipsume</a></li>
        </ul>
    </div>


{% endblock %}
